# Build directories
build/
install/
log/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ROS specific
.catkin_workspace
.catkin_tools/

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

src/detect_depth/*
src/my_py_pkg/*
